body {
  font-family: 'Space Mono', monospace;
  /* background-color: black; */
  background-color: #e5e5e5;
  /* background: url(./falcon-9-rocket-4928x3264-spacex-cape-canaveral-4k-6186.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

#title {
  padding: 20px;
  width: 1000px;
}

.container {
  padding: 20px;
  width: 850px;
}
