nav {
  /* background-color: black; */
  border-color: green;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

btn {
  border-style: hidden;
  border: none;
}

div .links-container {
  padding: 0px;
  margin: 0px;
  border: 1px red;
}
